.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.question h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}


.options span:hover {
  background-color: #e9ecef;
  border-color: #adb5bd;
}

.btn {
  margin-top: 20px;
}

.next-btn, .submit-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-btn:hover, .submit-btn:hover {
  background-color: #0056b3;
}

.span-btn{
  padding: 20px 40px;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgb(245, 245, 245);
}

.span-green{
  background-color: rgb(115, 206, 115);
  color: black;
}

.span-red{
  background-color: rgb(255, 122, 122);
  color: black;
}

.span-click{
  background-color: rgb(207, 207, 207) !important
}

.heading{
  background-color: #76b1f0;
  padding: 10px 20px;
  border-radius: 10px;
}